.coin-list {
  padding-top: 50px;
}

.coin-list .searchbox {
  display: inline-flex;
  border: 2px solid #cee1ff;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.coin-list .searchbox__icon {
  padding: 0 20px;
  height: 20px;
  width: 20px;
}

.coin-list .searchbox__input {
  font-size: 1.1rem;
  border: 0;
  margin: 0;
  height: 50px;
  width: 100%;
}

.coin-list .searchbox__input:focus {
  outline: none;
}

.coin-list .table {
  color: #001f4d;
  width: 100%;
}

.coin-list .thead {
  display: block;
  padding-top: 10px;
}

.coin-list .table-header__row {
  border-bottom: 1px solid #4d94ff;
  display: flex;
  justify-content: stretch;
  padding: 0 calc(50% - min(80%, 1200px) / 2);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.coin-list .table-body__row-link {
  text-decoration: none;
}

.coin-list .table-body__row {
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: 60px;
  padding: 0 calc(50% - min(80%, 1200px) / 2);
}

.coin-list .table-body__cell {
  font-weight: 700;
}

.coin-list .cell-crypto {
  text-align: start;
  width: 37.5%;
}

.coin-list .cell-price {
  text-align: start;
  width: 25%;
}

.coin-list .cell-mc {
  text-align: start;
  width: 25%;
}

.coin-list .cell-change {
  text-align: end;
  width: 12.5%;
}

.coin {
  display: flex;
  align-items: center;
}

.coin-name {
  text-align: left;
}

.coin-rank {
  font-size: 0.8rem;
  min-width: 25px;
  padding-right: 5px;
}

.coin-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin: -2px 15px 0 0;
}

.coin-logo img {
  height: 26px;
  width: 26px;
}

.coin-link {
  font-weight: 700;
  text-decoration: none;
}

.coin-symbol {
  display: block;
  font-weight: 500;
}

.text-success {
  color: limegreen;
}

.text-danger {
  color: red;
}

@media screen and (max-width: 1024px) {
  .coin-list .searchbox {
    width: 80%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 568px) {
  .coin-list .table {
    font-size: 0.7rem;
  }

  .coin-list .table-header__row,
  .coin-list .table-body__row {
    padding: 0 16px;
  }

  .coin-list .cell-crypto {
    width: 50%;
  }

  .coin-list .cell-price {
    text-align: center;
    width: 30%;
  }

  .coin-list .cell-mc {
    display: none;
  }

  .coin-list .cell-change {
    text-align: end;
    width: 20%;
  }
}

@media screen and (max-width: 500px) {
  .coin-list .searchbox {
    width: 100%;
    margin: 20px auto;
  }
}
