.exchange-list .table {
  color: #001f4d;
  display: block;
}

.exchange-list .table-header__row {
  border-bottom: 1px solid #4d94ff;
  display: flex;
  justify-content: stretch;
  padding: 0 calc(50% - min(80%, 1200px) / 2);
  font-size: 0.8rem;
  text-transform: uppercase;
}

.exchange-list .table-header__cell {
  padding: 10px;
  width: 30%;
}

.exchange-list .table-body__row-link {
  text-decoration: none;
}

.exchange-list .table-body__row {
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: stretch;
  height: 60px;
  padding: 0 calc(50% - min(80%, 1200px) / 2);
}

.exchange-list .table-body__cell {
  font-weight: 700;
  padding: 10px;
  width: 30%;
}

.exchange-list .exchange {
  display: flex;
  align-items: center;
  width: 30%;
}

.exchange-list .exchange-name {
  text-align: left;
}

.exchange-list .exchange-rank {
  padding-right: 5px;
}

.exchange-list .exchange-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin: -2px 15px 0 0;
}

.exchange-list .exchange-logo img {
  height: 26px;
  width: 26px;
}

.exchange-list .exchange-link {
  font-weight: 700;
  text-decoration: none;
}

.exchange-list .exchange-symbol {
  display: block;
  font-weight: 500;
}

.exchange-list .cell-exchange {
  text-align: start;
  width: 30%;
}

.exchange-list .cell-volume {
  text-align: center;
  width: 30%;
}

.exchange-list .cell-markets {
  text-align: center;
  width: 20%;
}

.exchange-list .cell-share {
  text-align: center;
  width: 20%;
}

.exchange-list .cell-website {
  text-align: end;
  width: 10%;
}

@media screen and (max-width: 568px) {
  .exchange-list .table {
    font-size: 0.7rem;
  }

  .exchange-list .table-header__row,
  .exchange-list .table-body__row {
    padding: 0 5px;
  }

  .exchange-list .cell-exchange {
    text-align: start;
    width: 50%;
  }

  .exchange-list .exchange-rank {
    width: 8px;
    padding-right: 8px;
  }

  .exchange-list .exchange-logo {
    margin-right: 5px;
  }

  .exchange-list .cell-volume {
    text-align: center;
    width: 30%;
  }

  .exchange-list .cell-markets {
    display: none;
  }

  .exchange-list .cell-share {
    display: none;
  }

  .exchange-list .cell-website {
    text-align: end;
    width: 20%;
  }
}
